[2022-01-27 14:43] zsinnema opened #2 "Apply Salk design to login theme"

[2022-02-10 10:41] vidhyalongani opened #4 "Make the Experiment page UI similar to Figma"
FIx the UI for the visualiser

[2022-02-10 10:42] vidhyalongani opened #5 "Login Page - Make the Create new account button function"

[2022-02-10 10:43] vidhyalongani opened #6 "Login page - remove extra options from the page"
- remove the new sign in/register option
- remove the remember me option
keep only the options from figma

[2022-02-17 14:48] zsinnema opened #10 "Milestone 1"

[2022-02-25 16:07] vidhya-metacell opened #16 "Experiment Viewer - Sidebar"

[2022-02-25 16:07] vidhya-metacell opened #17 "Experiment Viewer - Header"

[2022-02-28 12:46] vidhya-metacell opened #19 "Make population UI similar to Figma with colored dots preceding the label text"
<img width="201" alt="Screen Shot 2022-02-28 at 12 44 34 PM" src="https://user-images.githubusercontent.com/71261494/155985728-e42b9724-4a58-4ae8-b720-1de181b8c537.png">

Please create a branch from feature/16 branch.

Current UI
<img width="226" alt="Screen Shot 2022-02-28 at 12 44 43 PM" src="https://user-images.githubusercontent.com/71261494/155985840-af2cce77-de0a-41a8-9b38-29a80066f280.png">

[2022-02-28 12:49] vidhya-metacell opened #20 "Smoothen the experiment viewer sidebar expand/collapse transition"
At present the sidebar's expand/collapse transition is not as smooth as it should be. Using a transition, transform might help.

Branch out from feature/16

[2022-02-28 13:37] zsinnema opened #21 "Update workspaces django backend to work with Keycloak"

[2022-03-01 08:07] zsinnema opened #23 "Connect Keycloak users and groups updates to the Workspaces application"
Workspaces will use the Keycloak users and groups for user and team management.

In order to receive updates from the Keycloak admin we need to connect the KC admin to the Workspaces app.

This can be done by adding a KC admin listener to Keycloak that produces Kafka messages into a Topic and then let the Workspaces app listen to that Topic

[2022-03-03 10:48] paularah commented on #19
are the colours on the dots assigned randomly?

[2022-03-03 11:53] vidhya-metacell commented on #19
@ddelpiano could you answer this one

[2022-03-03 17:21] afonsobspinto opened #26 "Add electrophysiology component to the componentMap"

[2022-03-07 11:18] ddelpiano commented on #19
@paularah yes

[2022-03-08 12:03] vidhya-metacell opened #28 "Explorer View - Sidebar"

[2022-03-08 12:04] vidhya-metacell opened #29 "Explorer View - Header"

[2022-03-08 14:53] #21 closed

[2022-03-09 11:15] afonsobspinto opened #32 "Experiment analysis and prepare one mock experiment"
design the experiment data model
prepare one mock experiment with real 3d data
questions:
- how do we identify each population in the experiment data (how do we really extract this info from the cordmap data?)?
- how do we identify each section? Info should be available in the cordmap output data, to be documented.

knowing that the cordmap pipeline will take a bit to be implemented, it might be u

[2022-03-10 10:53] vidhya-metacell opened #33 "Explorer View - Main Page UI"

[2022-03-10 12:36] afonsobspinto commented on #32
Summary / proposal of how I see us interacting with brainglobe and cordmap for the salk mouse cord atlas viewer:
Visualize cells:
From the cordmap output files we use transformed_cells.csv to get the cell coordinates and pass this information to the frontend. There we plot spheres on those coords  using [InstancedMesh](https://threejs.org/docs/#api/en/objects/InstancedMesh) (as we do in the poc)
V

[2022-03-10 13:45] afonsobspinto opened #34 "Define openAPI schema and REST endpoints"

[2022-03-15 12:40] vidhya-metacell opened #38 "Create and design the learn more/about dialog"
Create and design the learn more/about dialog
<img width="357" alt="Screen Shot 2022-03-15 at 1 39 50 PM" src="https://user-images.githubusercontent.com/71261494/158379691-e01cf879-fa6e-493d-85df-faa8f12db110.png">

[2022-03-15 12:45] vidhya-metacell opened #39 "Explorer View - Filter & Sort options UI"

[2022-03-15 14:36] zsinnema opened #40 "Connect the experiment card to the Experiments page"
When clicking on an experiment the experiments page should be shown.
Also add the experiment id to the url, router and component for later use (when we connect the backend to the frontend)

[2022-03-15 14:42] zsinnema opened #41 "Experiment card have 2 "types": one general type and one when the experiment is shared"
The difference is the footer of the experiment card:
* one is with the creation date
* the other is with the shared with me date

[2022-03-15 16:23] vidhyalongani opened #43 "Explorer View - In the sidebar highlight the selected tab depending on page hash"

[2022-03-16 13:12] afonsobspinto opened #47 "Connect the experiment data to the canvas component"

[2022-03-16 21:05] afonsobspinto opened #49 "Connect the experiment subdivisions data to the left sidebar and the canvas component"

[2022-03-16 23:11] afonsobspinto opened #51 "Connect the experiment population data to the left sidebar and the canvas component"

[2022-03-17 10:20] zsinnema opened #54 "Enable experiment deeplinks"
When you enter a deeplink to the experiment e.g. https://www.salk.dev.metacell.us/experiment/1 the experiment page should pop up for the given experiment.

[2022-03-17 10:34] vidhya-metacell opened #55 "Explorer View - Add menu on Experiment Card"

[2022-03-18 12:12] paularah opened #58 "Experiment page breaking due to incorrect value for the disableElevation prop"
This is because the disableElevation props on the button in the header component should be boolean true and not  a string

[2022-03-21 14:41] vidhyalongani opened #60 "User Info - My account Dialog"

[2022-03-21 15:48] vidhya-metacell opened #62 "Create my experiment dialog UI"

[2022-03-22 11:32] afonsobspinto opened #63 "Implement upload pipeline to retrieve populations csv"

[2022-03-22 15:09] vidhya-metacell opened #64 "Team View Drawer with team members information"

[2022-03-23 13:52] vidhya-metacell opened #67 "Create Experiment, Clone Experiment & Edit Info & Tags Dialogs UI"

[2022-03-25 11:42] vidhya-metacell opened #72 "Experiment Card - Design the delete experiment dialog"
Please refer to the screenshot
<img width="439" alt="Screen Shot 2022-03-25 at 12 41 12 PM" src="https://user-images.githubusercontent.com/71261494/160114655-c5ece974-9f65-47f7-af7f-503e2ff4aedc.png">

[2022-04-01 12:02] vidhya-metacell opened #75 "Share experiment dialog UI"

[2022-04-01 16:29] afonsobspinto opened #76 "Fix TypeError: Cannot read properties of undefined (reading 'status')"

[2022-04-01 16:54] afonsobspinto opened #78 "Prevent empty tabset left on dragging"
https://user-images.githubusercontent.com/19196034/161308123-02e9eb14-5a8d-4254-b7c0-125d7efee047.mp4

[2022-04-01 17:08] afonsobspinto opened #80 "Clean up of the explorer viewer"
Leave a single experiment tile rather than having so much as now.

[2022-04-04 09:24] afonsobspinto opened #82 "Add color picker to population"
![image](https://user-images.githubusercontent.com/19196034/161514760-2b69b710-9579-4b33-b981-8f74b4e0f9ca.png)

[2022-04-07 09:50] afonsobspinto opened #85 "Add density map"

[2022-04-27 11:26] ddelpiano opened #89 "Heatmap component additions"

[2022-04-27 11:32] ddelpiano opened #90 "Color picker review"

[2022-04-27 15:54] ddelpiano opened #91 "Create experiment flow implementation"

[2022-04-28 06:53] zsinnema commented on #89
@ddelpiano the 502 is because the generation of the heatmap is consuming too much cpu and memory. The cordmap team should optimize it to use at least 10x less resources. As an example on our dev cluster it takes 20 seconds to generate the map. This means that during these 20 seconds no other request can be processed on the worker. Of course we could try to implement other kind of workers (e.g. asy

[2022-04-28 06:57] zsinnema commented on #90
@ddelpiano currently there is no color picker "edit" permission (or on other words permission on population level) per user. We have implemented permission on the experiment level. A user has read only access to the Experiment or a user has read/write access to the Experiment.

Do you think we need also population level access rights?

[2022-04-28 06:58] zsinnema commented on #90
@afonsobspinto we could add a permission type/level to the experiment object. something like this:
[code]

[2022-04-28 07:01] zsinnema commented on #91
@ddelpiano can you explain the functionality of the "key" file? What is it and what should be done with it?

[2022-04-28 14:17] neuroBazzi opened #93 "Illumination"
the illumination hits only one corner of C1, the rest of the cord is in the shade
![Screenshot 2022-04-28 at 16 16 44](https://user-images.githubusercontent.com/57769656/165773077-25046f01-0b75-49fb-a962-ef6f443050bd.png)

[2022-04-28 14:20] neuroBazzi opened #94 "rotation of the segments"
When I deactivate all the segments and leave only one active (e.g. C1), the rotation axes seems to remain the center of the cord making it cumbersome to operate on a single slide. can we move the rotation axes to the center of each segment when we have only one segment selected?

[2022-04-28 14:22] neuroBazzi opened #95 "Overlays menu"
The 'density map' toggle in the bottom left corner should be the one that launches the heatmap. So when it's on the heatmap is present, when it's off the heatmap should disappear.
![Screenshot 2022-04-28 at 16 18 25](https://user-images.githubusercontent.com/57769656/165773938-4ac054d4-eef9-4399-9fa9-ac66c32912bb.png)

[2022-04-28 14:28] neuroBazzi opened #96 "heatmap trigger"
When I toggle on/off one of the segments (i.e. the 3D meshes) the heatmap is computed again. I don't think it should because I am not taking any action that should refresh the heatmap

[2022-04-28 14:37] neuroBazzi opened #97 "colored heatmap?"
Question: can we match the color of the heatmap with the the color picker of the active population? the reason is that when we have more than one populations selected, we see the heatmap only in white and we cannot tell to which populations it refers to.

![Screenshot 2022-04-28 at 16 34 59](https://user-images.githubusercontent.com/57769656/165777000-f0137066-d258-4de9-bdde-096237a9ddcf.png)

[2022-04-28 14:50] afonsobspinto opened #98 "Fix error on density map when region has no cells"

[2022-04-28 15:45] afonsobspinto commented on #96
Thanks @neuroBazzi . This was a very good catch :+1:

[2022-04-28 15:47] afonsobspinto commented on #95
Duplicate of #89 and the main request is already already in development.
I'm removing the population map toggle in #100

[2022-04-28 16:51] afonsobspinto commented on #93
@ddelpiano haven't you worked in something related with the illumination for the canvas (which would potentially fix this illumination issue)
Could you briefly remember me about what changed / Point me to the code?

[2022-04-28 16:53] afonsobspinto opened #101 "Update geppetto-meta dependency to latest release"

[2022-05-01 14:21] #40 closed

[2022-05-01 14:21] #19 closed

[2022-05-01 14:21] #41 closed

[2022-05-03 13:09] neuroBazzi opened #107 "Neuron centroids"
Client request to add the possibility to overlay centroids to the heatmap

[2022-05-03 13:11] neuroBazzi opened #108 "Heatmap edges contrast"
Client request: being able to see the edges of the slice. This is already implemented but simply not visible because the background is black and so are the areas of the slices where there are no cell (so no difference between the background and the inside of the slice where there are no cells). Consider either changing the background or the color associated with 0 in the heatmap to non black (to g

[2022-05-03 13:35] afonsobspinto commented on #97
No, thanks.
The plan is to:
1 - Generate, for each population 2 images (one with just the centroids and other with just the heatmap)
2 - Blend them correctly according to the user inputs (in the UI), which can be: show only centroids, show only heatmap or show both together, each of the alternatives should work for one or more populations

[2022-05-03 13:39] neuroBazzi commented on #97
ok great

[2022-05-06 08:33] zsinnema opened #109 "Upgrade to new release of CordMap"
from Stephen: I've merged a substantial PR on cordmap, its been tested. It should produce all the same outputs and some additional ones. Please let me know if there are any issues and I'll fix them ASAP.

[2022-05-06 08:36] afonsobspinto commented on #109
Note to myself, remember to check/change cordmap python version requirement https://github.com/MetaCell/cordmap/blob/main/setup.cfg#L27

[2022-05-06 08:53] afonsobspinto commented on #108
Atlas has a volume which has the 2D representation of the cord. (Needs to be scaled the same way as the heatmap)
Select middle-point/first plane/last plane (or potentially all together)  of subsection

Also have a look at https://stackoverflow.com/questions/54703674/how-do-i-make-my-numpy-image-take-an-alpha-channel-value-in-python. (Change black to transparent)

[2022-05-06 09:02] afonsobspinto commented on #107
Background to transparent.

Only dots (no gaussian smoothing):
![image](https://user-images.githubusercontent.com/19196034/167101412-6bc61259-367a-4921-b31a-e249651919ef.png)

[2022-05-06 09:08] afonsobspinto commented on #93
@neuroBazzi how can we reproduce this issue on https://www.salk.dev.metacell.us?

[2022-05-06 09:09] afonsobspinto commented on #91
@neuroBazzi is this intend for this sprint? And can you also answer @zsinnema question above?

[2022-05-06 09:22] afonsobspinto commented on #94
Investigate if the problem is in Salk or Geppetto.

Things to check:
- Subdivisions are removed or made transparent?

[2022-05-06 09:24] afonsobspinto opened #111 "Implement argo to compute density map"
we use argo for running the generate image(s) task
we add a status to population to represent the status of the image(s) generation (also add an error status for when things fails)
create a django management command (https://docs.djangoproject.com/en/3.2/howto/custom-management-commands/) to execute the generation of the images
create a workflow task docker image in the workspaces application
crea

[2022-05-06 17:29] afonsobspinto commented on #91
From meeting with @neuroBazzi

key + data => cordmap black box => transformed_cells.csv

If time allows, yes (less priority compared with all the other issues)

[2022-05-09 16:49] afonsobspinto commented on #94
@neuroBazzi how would you feel with something like the following?
Where we reset the camera on any subdivision changes:

https://user-images.githubusercontent.com/19196034/167451233-d2ac94a8-5c34-4f6f-9261-33bd8acaa590.mp4

If we want to keep the camera rotation, then we need to escalate the issue to geppetto, as I don't see a clear way to achieve that with the current api.

[2022-05-10 11:30] afonsobspinto commented on #108
Latest from the heatmap:
1 - I calculate the probability_map in the subdivision space:
[code]
2 - I get the accumulated probability map by summing all the slices in the subdivision space and divide by the amount of slices
[code]
3 - I scale the accumulated_probability_map so that the max value represents white
[code]
4 - I make black pixels transparent:
https://stackoverflow.com/questions/54703674

[2022-05-10 13:12] afonsobspinto commented on #108
The reason why the smoothing version looks funny is because we are removing just the **pure** black pixels not the 'blackish'.
We can add a sort of black threshold and achieve something like the following, but it's hard to achieve something perfect
![result](https://user-images.githubusercontent.com/19196034/167636408-ebe15aef-a5b9-41b7-a17f-f21211c3d4a9.png)

[2022-05-10 14:19] zsinnema commented on #108
@neuroBazzi what "smoothing" do you like (btw it's a Gaussian blur): 100, 75, 50, 25?

PS: the image is transparent so on white backgrounds the white in the "middle" looks like the background but we have a "dark" theme so imo this will be no issue. if we want to switch to a "light" theme we should invert the color white --> black

[2022-05-10 14:51] neuroBazzi commented on #108
@zsinnema I think 50 would be the best.

[2022-05-10 16:54] afonsobspinto commented on #108
Adding the atlas.annotation as background:
![combined_img](https://user-images.githubusercontent.com/19196034/167682081-d12265bc-227e-4a56-8366-258b5859a1fb.png)

[2022-05-11 11:31] afonsobspinto commented on #107
Scatter plot with all the cells/points in a given subdivision:
![centroids](https://user-images.githubusercontent.com/19196034/167839191-03e4a53a-53ef-42e8-b853-fa7e48e69b36.png)

On top of annotation:
![a_c](https://user-images.githubusercontent.com/19196034/167839692-540de21c-b3b0-4543-9648-e870447089a4.png)

On top of annotation and density_plot:
![combined_img](https://user-images.githubuserco

[2022-05-11 13:46] afonsobspinto commented on #97
Recolor density map:
[code]
![density](https://user-images.githubusercontent.com/19196034/167864484-5f4f7b9a-af84-4f38-95e5-f29ec27c752d.png)

Recolor centroids:
[code]

![centroids](https://user-images.githubusercontent.com/19196034/167864716-8c2bec79-b4e1-4ccf-9d4e-2b3127f3f230.png)

Stacked together:
![all_combined_img](https://user-images.githubusercontent.com/19196034/167864875-e2af9aa5-3b34-

[2022-05-11 13:47] neuroBazzi commented on #97
beautiful!

[2022-05-16 16:23] neuroBazzi opened #113 "heatmap -- something went wrong"
Tried to load heatmap / cenotroids of a few populations but I get the error message

<img width="1072" alt="Screenshot 2022-05-16 at 12 22 19" src="https://user-images.githubusercontent.com/57769656/168638892-d08fc922-92f7-43cb-aa03-a17f96e52491.png">

[2022-05-19 12:14] zsinnema opened #115 "Create an Argo workflow task and implement dispatch of the task to generate the population image(s)"

[2022-05-19 13:03] zsinnema opened #116 "Too many downloads of probability maps when switching on other populations"
When switching on a second, third etc population and the density map switch (overlay) is active and a probability map is active then all probability maps of all the switched on populations are loaded.

It would be better (performance wise) to only load the one that is not already loaded

[2022-05-19 13:06] zsinnema commented on #116
btw same when switching off a population, this should even not load anything.....

[2022-05-19 14:23] afonsobspinto commented on #116
Yeah I haven't consider any optimizations on the requests because I thought the browser would cache the get requests so it wouldn't be a problem.
I will add logic to keep track of what's loaded and infer what's missing from it

[2022-05-19 14:35] afonsobspinto commented on #115
Equivalent to #111

[2022-05-19 14:35] #115 closed

[2022-05-19 14:35] afonsobspinto commented on #111
create a tasks folder in the root of workspaces
create a folder in the tasks folder and add a Dockerfile
attach a submit task to the population "safe" django signal to dispatch the generate image(s) task

[2022-05-20 14:01] afonsobspinto commented on #113
@neuroBazzi can you replicate this in development?

[2022-05-20 14:53] neuroBazzi commented on #113
no, this got solved with latest deploy

[2022-05-20 15:09] #113 closed

[2022-05-23 17:21] neuroBazzi opened #118 "Heatmap Slice selector - cosmetic"
At this stage, the purple band that indicates the selected slice of the cord exceeds the height of the cord, this is visible particularly towards the end of the cord. Would it be possible to either have the purple selector band of the exact same size of the underlying cord or do not overlay the purple strip but simply showing it -smaller- below the cord?

<img width="273" alt="Screenshot 2022-05-2

[2022-05-23 17:38] neuroBazzi commented on #118
@tarelli thoughts? I know you have something specific in mind. I am happy with the second option (a 'cursor') because when the cord becomes smaller (i.e. T1) the purple section overlaid on the cord will become hard to see (and avoids unconscious bias)

[2022-05-23 17:49] neuroBazzi opened #119 "toggle switch for neuronal populations"
Currently, the toggles in the population selector are not perfectly aligned. could we crop the population name and have the toggles aligned?

 <img width="223" alt="Screenshot 2022-05-23 at 13 47 18" src="https://user-images.githubusercontent.com/57769656/169877820-58ddddb3-fba6-4ddb-839b-ad11fc00a1ca.png">

[2022-05-24 06:44] zsinnema commented on #118
@neuroBazzi I'm not sure that this is the "problem" with the current look&feel... we can also think about another solution. E.g. if the purple is "too" purple (you almost can't see the cord) then we could make the purple box more transparent.

[2022-05-24 13:42] neuroBazzi opened #120 "density map scroll"
@afonsobspinto the scrollbar on the right part of the screen makes the heatmap move. I think the heatmap should fit the size of the tab and not jiggle when the user scrolls through the list of subsections. We had a conversation with @zsinnema about how to solve this, but I am not sure what the conclusion was.

![Screenshot 2022-05-24 at 09 36 46](https://user-images.githubusercontent.com/57769656/

[2022-05-24 13:51] neuroBazzi opened #121 "Add section scroll and load-on-release"
@afonsobspinto @zsinnema Could we add the UX like in vfb that allows the user to scroll through the slides using the mouse scroll. So when the user has the mouse pointer on the heatmap and scrolls the mouse, the underlying structure slides changes following the mouse action (i.e. scroll up --> scroll slides towards C1 rostral, scroll down --> scroll slides towards T1 caudal). To avoid slow downs,

[2022-05-24 14:13] tarelli commented on #121
Thanks @neuroBazzi, I would suggest scrolling on the list on the left or on the heatmap itself.

[2022-05-24 14:46] neuroBazzi commented on #121
@tarelli that refers to this thread https://github.com/MetaCell/salk-interactive-atlas/issues/120

[2022-05-24 14:47] zsinnema commented on #121
@neuroBazzi the technical requirement: computations take too long only update when the user is on the slide for more than 300-400ms is a little bit strange to me. why wait for almost half a second before updating? is this a functional requirement?

[2022-05-24 14:49] zsinnema commented on #118
ah okay, clear

[2022-05-24 14:49] neuroBazzi commented on #121
@zsinnema it is to avoid the computation of a heatmap at every scroll, this would allow the user to scroll through the slides without having to wait for the heatmap to be computed at every step. do you have another suggestion? cc: @tarelli

[2022-05-24 14:51] tarelli commented on #121
@zsinnema @neuroBazzi the only non functional requirement would be to not have the application slow down as someone scrolls. if someone scrolls through all of them and only wants to see data for the last one where they land that would be the ground to optimize but it's an optimization that may be not needed if all heatmaps are precomputed server side. something to test?

[2022-05-24 14:55] zsinnema commented on #121
@neuroBazzi okay clear to me. @tarelli yes I think the same, let's implement the functional requirement and test it before adding "additional complex" logic

[2022-05-25 12:08] afonsobspinto commented on #120
Scroller moves to subregions

Top left cord and density map should always be visible

[2022-05-26 10:51] afonsobspinto commented on #109
Waiting on https://github.com/MetaCell/cordmap/pull/15 to be merged

[2022-05-26 11:19] afonsobspinto commented on #118
![image](https://user-images.githubusercontent.com/19196034/170477974-ea63d8c5-1ad6-44df-909b-edd794fbc2ba.png)

[2022-05-26 12:35] afonsobspinto commented on #119
![image](https://user-images.githubusercontent.com/19196034/170488805-342613a2-fbc9-4756-9f33-219bd67fcf96.png)
![image](https://user-images.githubusercontent.com/19196034/170488732-44a5b953-d61d-4224-aefd-5c827aff7597.png)

[2022-05-26 13:21] neuroBazzi commented on #119
@afonsobspinto not sure I understand the solution, is the long name going to extend beyond the width of the menu?

[2022-05-26 13:22] neuroBazzi commented on #118
I like this solution, would it be possible to make the cursor a little 'taller' (ie. increase height) to make it a little more visible please?

[2022-05-26 13:29] neuroBazzi commented on #119
gotcha, good!

[2022-05-26 13:38] afonsobspinto commented on #118
The above was 10% height.

20%:
![image](https://user-images.githubusercontent.com/19196034/170498853-4e7e8ca5-6a30-4845-88a7-35291845807e.png)

15%:
![image](https://user-images.githubusercontent.com/19196034/170499006-096139ce-dae7-4781-8340-10f191e26932.png)

[2022-05-27 14:22] afonsobspinto commented on #93
Added an ambient light instead of spotlight:

Ambient Light: This light globally illuminates all objects in the scene equally. This light cannot be used to cast shadows as it does not have a direction.

![image](https://user-images.githubusercontent.com/19196034/170717966-4ed6535c-3909-442a-b440-9b5a4f7c6d66.png)
![image](https://user-images.githubusercontent.com/19196034/170718281-c5cbb60f-271e-4

[2022-06-08 14:43] afonsobspinto opened #127 "Update UI to allow subregions visualisation"
![image](https://user-images.githubusercontent.com/19196034/172645405-aca762ef-a178-431c-a27e-94918b383be5.png)
![image](https://user-images.githubusercontent.com/19196034/172645462-32cd6f09-ac70-4a24-a7f1-b9231adb06ae.png)

[2022-06-08 15:52] afonsobspinto opened #128 "Allow subregion selection to happen with arrow keys on density map"

[2022-06-08 15:53] afonsobspinto commented on #128
Also add a tool-tip to inform about the scrolling possibility

[2022-06-13 14:33] afonsobspinto opened #130 "Creating experiment without tags creates empty tag"

[2022-06-13 16:14] afonsobspinto opened #131 "Too many indices for array: array is 1-dimensional, but 2 were indexed"
![image](https://user-images.githubusercontent.com/19196034/173398098-cc74284c-a749-4900-803d-6c1f38b5280b.png)
[SalkData.zip](https://github.com/MetaCell/salk-interactive-atlas/files/8892727/SalkData.zip)

[2022-06-13 16:16] afonsobspinto opened #132 "Improve create experiment workflow"
- [ ] Make sure the loader hotfix is a good solution
- [ ] Handle potential errors with the requests

[2022-06-13 16:17] afonsobspinto commented on #132
Hotfix mentioned above: https://github.com/MetaCell/salk-interactive-atlas/pull/129

[2022-06-14 06:30] zsinnema opened #133 "Argo workflows should run on the same node as workspaces is running due to the shared volume"

[2022-06-14 10:31] #133 closed

[2022-06-14 16:55] afonsobspinto opened #136 "App subregions visualisation"

[2022-06-15 13:25] neuroBazzi opened #137 "doublecheck registration"
Run the dataset used for dev by Afonso and noticed that some neurons are outside the cord (see image). in other sections, a surprisingly high number of neurons are outside the grey matter (which could still be ok), but I am surprised to find neurons outside the cord

![Screenshot 2022-06-15 at 09 23 30](https://user-images.githubusercontent.com/57769656/173837896-b81ebf46-2f09-4ddd-9e4b-ab10cc52c3

[2022-06-15 14:58] neuroBazzi opened #139 "Experiment page Layout - discussion"
When I open the experiment page, the Custom View button is overlaid to the cord slice. To avoid that, I need to make the 3D viewer taller by stretching it upward, but this makes the 2D viewer smaller (too small) and clips the controllers un the left part of the 3D viewer.
Possible solutions:
1) in the 3D viewer, move the slide more to the right (so not at the center) such that the Custom View butt

[2022-06-15 15:04] neuroBazzi opened #140 "Home page - cosmetic"
In the home page, experiments appears as card. every card can have different number of labels set by the user. Depending on the number of labels, the card seems to change size (more labels, longer cards). Could we set this up such that card will always be of the same size regardless of the number of labels? I would leave two rows for the labels, and if there are labels that do not fit in two rows,

[2022-06-15 15:07] afonsobspinto commented on #139
I don't have that behavior by default:
![image](https://user-images.githubusercontent.com/19196034/173861011-fac309a8-4c9c-496a-af72-a4fc084e9389.png)

I'm guessing this is something that might be dependent on the resolution of the screen. Maybe with some better style rules we can make it good for everyone. What do you think @vidhya-metacell ?

[2022-06-15 15:17] zsinnema commented on #140
@neuroBazzi agree with the max 2 rows... I would even go for only 1 row...
this could be a nice one for Vidhya

[2022-06-15 15:21] zsinnema commented on #139
@afonsobspinto yes it depends on the size of the flex layout tabs and they depend on the size of the screen....

@neuroBazzi I already mentioned this before to you and also Paul... I suggest to NOT overlap the elements and give the elements "room" to dispay. I mean f.e. in the 2D viewer give split the tab laout container into 2 parts: one for the popup and one for the images. now it's one containe

[2022-06-15 15:23] neuroBazzi commented on #139
@zsinnema understood and agree

[2022-06-15 16:17] afonsobspinto commented on #131
@zsinnema Given the above explanation I think we can close this issue. Do you agree?

[2022-06-15 16:43] afonsobspinto commented on #131
Should be fixed with #109

[2022-06-15 17:37] neuroBazzi opened #141 "Experiment creation error"
Experiment creation (with test dataset) results in a single neuron in 3D and many neurons in 2D.

![Screenshot 2022-06-15 at 11 54 45](https://user-images.githubusercontent.com/57769656/173890100-a5727210-0bdd-47b5-8a9a-5aab093f7403.png)

[2022-06-24 11:49] afonsobspinto commented on #132
Sort of fixed by @zsinnema changes

[2022-06-24 11:49] #132 closed

[2022-06-24 17:00] neuroBazzi opened #146 "Segment toggling and neuronal centroids in 3D -- unexpected behaviour"
![Screenshot 2022-06-24 at 12 55 32](https://user-images.githubusercontent.com/57769656/175607671-1293516a-b6ad-42c7-aeab-bbca250a82f6.png)

When I toggle off some segments in the 3D, the mesh disappears but the neurons inside remain. I think the expected behavior is that by toggling off one segment, the neurons inside of it disappear too. In other words, there is never the scenario in which we ca

[2022-06-24 17:04] neuroBazzi opened #147 "Neurons do not reappear after toggling off/on the 3d meshes"
Steps:
1) Load a neuronal population with all segments on;
2) toggle off all the segmens with the neuronal population on
![Screenshot 2022-06-24 at 13 01 38](https://user-images.githubusercontent.com/57769656/175608628-c9d64b3a-e710-45c1-b40b-3a65a242c683.png)
3) toggle on any segment, the mesh appears but the neurons inside do not
![Screenshot 2022-06-24 at 13 01 59](https://user-images.githubuse

[2022-06-27 14:48] afonsobspinto opened #148 "Change population color and lamina color to user specific"

[2022-06-29 15:05] afonsobspinto commented on #128
From paul: >I think we could use a snackbar that appears when the user open the dropdown for changing the section

[2022-06-29 16:07] afonsobspinto commented on #137
![image](https://user-images.githubusercontent.com/19196034/176483740-8788d84e-8ca3-4482-8953-4c06dec63bd8.png)

[2022-06-30 11:50] afonsobspinto commented on #147
Probably caused by the same reason as #146. @neuroBazzi can you replicate with the latest version on salk.dev.metacell.us?

[2022-06-30 13:47] afonsobspinto opened #157 "Rotation center doesn't reset with populations active"
- Activate population
- Disable all subdivisions
- Activate one subdivision

Expected: center of rotation to be the center of the subdivision seen
Result: center of rotation is the center of the full cord

[2022-07-01 13:15] neuroBazzi opened #159 "Laminae visualisation alternatives"
The client is asking whether we can attempt two different ways to show the laminae. The reason is because when they will be many laminae in the same slide and a few neuronal populations, picking the colors of all of them might be lengthy.
Suggestions/requests are:
1) Shades of grey. the default color of the laminae is going to be grey of different shades, assume there will be around 25 laminae, we

[2022-07-01 13:42] afonsobspinto commented on #159
1 is easier because it doesn't change, conceptually, what we are doing. We just have to choose/randomize the color of the laminas (following a predefined pattern) instead of requiring the user to choose.

A couple of questions:
- On option 1, can the user change the color of the lamina?
- Any particular reason for wanting shades of grey? It is as easy to do the shades of grey as it is to do any no

[2022-07-01 13:55] neuroBazzi commented on #159
LoL I made the same mistake of looking up 'shades of grey' on google
Answers:
1) yes, the default would be however the shades of grey
2) I guess they would not want the shades to be randomly assigned to laminas but rather following a direction (darker grey on the top and lighter grey at the bottom or viceversa). This scheme could be applied to grey or to any other color;
3) not for now
4)Uhm ideal

[2022-07-05 17:42] afonsobspinto commented on #159
We can generate the **contour** of the laminas instead of the **filled** laminas easily:
filled:
![C1-Caudal](https://user-images.githubusercontent.com/19196034/177385342-42b2c07c-9f34-4d3c-a8de-1276b78ee001.png)

contour:
![C1-Caudal](https://user-images.githubusercontent.com/19196034/177385365-19ccf9d6-8bdd-47ad-bd01-832563833e30.png)

[2022-07-06 12:20] neuroBazzi opened #161 "Menu items color"
Minor cosmetic: The first two items on the list are white, all the other are grey-ish. The bottom two items (probability map and neuronal location) are grey but they should be the same color of the first two (same level of hierarchy).

<img width="147" alt="Screenshot 2022-07-06 at 08 18 09" src="https://user-images.githubusercontent.com/57769656/177548368-c0850c6c-63b9-4afc-87cf-d1670ee7cb4e.png"

[2022-07-15 14:15] afonsobspinto opened #170 "Fix scrolling on cord map image"
Scrolling on the cord map image is also scrolling on the custom view popover. It shouldn't

[2022-07-15 14:26] afonsobspinto opened #172 "Standardize cells population response"
Frontend shouldn't need to split the response using a complex regex expression
`return cellsFile.data.split(/\r?\n/).map(csv => new Cell(csv)); `

[2022-07-15 14:27] afonsobspinto commented on #148
@neuroBazzi could you let us know if this is really something we are interested to implement?

I can see an argument where I would be interested to have the same population/lamina colors between all the users that have access to a given experiment.

[2022-07-15 14:42] afonsobspinto opened #173 "Automatize atlas updates"

[2022-07-15 14:50] neuroBazzi commented on #148
populations are initiated with default color, user can change and then it is saved across sessions

[2022-07-15 14:55] afonsobspinto commented on #148
Default Population: Color of the owner of the Population.vs random color out of 20
Laminas don't have user dependent colors

[2022-07-21 13:57] afonsobspinto opened #176 "Fix experiment creation problems"
IndexError: index 0 is out of bounds for axis 0 with size 0

[2022-07-21 17:20] neuroBazzi opened #178 "Add grid in the 2D visualisation"
The client asked if we can add in the 2D visualiser a grid around the brain with 1 mm pitch.
The 0 of the x and y axes is the center of the central canal (0,0). The 0 of the z axes is the first slice (so the first slice C1-rostral gets 0, the second slice C1-caudal gets the z value of the first slice of c1 caudal. @afonsobspinto is this something we can do at app level or do we need some more info

[2022-07-21 17:24] neuroBazzi opened #179 "Add color picker for shades and reset button for the laminas visualisation"
Afonso could you please add:
a) color picker for the main color that the system will shade for the laminas (now it's only grey);
b) a button to reset the laminas shades after the user changes them manually. For the position of the button I will ask Paul to update the design but since he's busy now, could you please place where you think fits for now.

@afonsobspinto cc @zsinnema

[2022-07-22 14:24] afonsobspinto commented on #178
- I believe we can add a grid on our side without the need of any changes on cordmap.

-  Will the grid always be there or is it something the user can turn on and off?

- How is the depth represented?

- Why does the typically know as y axis in the example you provided have a different order on the left than on the right?

[2022-07-29 11:01] afonsobspinto opened #182 "Document or refactor TwoDViewer drawing logic"
Drawing logic with variables like isDrawing and isReady looks a bit complex. We should either document the reason for those flags or refactor this to something simpler

[2022-08-02 06:27] neuroBazzi opened #185 "neurons in the 3D not constrained to grey matter (in 2D they are)"
From the client: The neuronal locations in the 3D viewer were not constrained to the Grey matter, while they were properly constrained in the 2D viewer

awaiting data and snaphots

[2022-08-02 06:29] neuroBazzi opened #186 "Dataset that includes more than 1 distinct population, it loads them together."
From the client

[2022-08-02 06:29] neuroBazzi opened #187 "In the 2D viewer, the contours I added in were also included as populations."
not sure how they added contours, I have asked for more information and snapshots

[2022-08-02 08:52] afonsobspinto commented on #186
What is a dataset that has more than 1 distinct population?
The rule is:
1 pair data - key files represents 1 population,

it doesn't matter if the data actually represents multiple populations, if it's coming from the same file it is 1 population for us.

If this is not the intended behavior, most certainly cordmap needs to change.

[2022-08-02 11:18] neuroBazzi commented on #186
that rule i clear to them, I think he loaded two files. with 'dataset' he means that that experiment had more than one population. I did ask him to confirm me that he in fact loaded two flies and to share those with me, so stay tuned.

[2022-08-03 08:52] neuroBazzi commented on #185
@afonsobspinto they shared the data with us: it's  labeled V2b_PKD2L1 in this folder:
https://drive.google.com/drive/folders/1-5dhTs-IsejBu_mLGSgDwAyEHc-VoTaa

[2022-08-03 08:56] neuroBazzi commented on #187
@afonsobspinto client says this refers to the PKD2L1 experiment, so the same dataset for which the was the 2D/3D registration mismatch. I am not sure this is something you will be able to solve or rather it is for Stephen Lenzi. IF you can share any thought it would be helpful

_I added a contour to remove false detections in one of the channels for the PKD2L1 Cord. This contour is labeled in the

[2022-08-03 08:58] neuroBazzi commented on #186
@afonsobspinto they're pushing back on this and would like to change the pipeline to have more than one population in the same file so we will talk about changing cordmap. is there any constraint from your end we should be mindful about when we have this discussion?

[2022-08-03 09:36] afonsobspinto commented on #187
Seems to be something for Stephen. We have no word in the filtering of isPoint or isContour, we only receive coordinates x,y,z which we treat as cells.

[2022-08-03 09:36] #187 closed

[2022-08-03 11:30] neuroBazzi opened #188 "Stage environment"
@zsinnema I noticed that on Stage there is still some mismatch between the 2D and 3D viewers (see image), I thought @afonsobspinto fixed this, is it possible that this is because there is an version on stage that does not have the latest fix? if so, could we bring stage up to dev (minus the latest features Afonso is working on this week) by sprint meeting tomorrow?
To be clear: the issue with the

[2022-08-03 12:33] neuroBazzi commented on #188
@afonsobspinto Zoran clarified that issue 137 (that was the previous presentation of this problem) was deployed on stage so this is a new presentation of a similar phenomenon, could you please take a look at it when you have time. thank you!

[2022-08-05 06:20] neuroBazzi opened #190 "Grid enchancements"
For the grid, the client asked for the following enhancements:
1) the relative size of the grid and its content in the 2D viewer gets larger and occupies large portion of the 2D viewer (now there is a lot of empty space around the grid);
2) The grid becomes bigger and goes 2.5mm (or 2.6 in width) x 2mm (height), the slice will be at the center and have some empty space around it. The range on the

[2022-08-05 07:29] zsinnema commented on #190
@neuroBazzi
ad 1. the space on the left and right side of the grid can't be used because of the ratio of the grid. If we "expand" the x then the y should also "expand" but there is no room left above and below. we can expand a little bit more (reduce the margins). In order to see a "bigger" image move the panel to next to the 3D view panel, and do the same for the Electrophysiology panel. Then eve

[2022-08-05 07:30] zsinnema commented on #190
@neuroBazzi only tasks 1 and 9 are 100% FE tasks, task 10 is 50-50 FE-BE the others are BE

[2022-08-05 07:37] neuroBazzi commented on #190
@zsinnema thanks for the quick feedback. To answer your further questions:
1) makes sense, let's do what we can and try your suggestion;
2) yes to fixed size (or fixed range) and fixed values, the slices are all roughly the same size and will not change;
8) yes correct, except for the ";" at the end, we don't need it
9) default is on;
10) values would be: 'off', 'frame', 'grid' and the default wou

[2022-08-05 07:48] zsinnema commented on #185
I've uplaoded the dataset to the dev server and I notived this:
![image](https://user-images.githubusercontent.com/124044/183028459-bf119a66-7a9a-418f-9e97-7d2e9ffc9942.png)

couple of things here:
* the "scaling" of the neurons in the 3D viewer is not the same as in the 2D viewer
* the position of the "ring" of neurons in the 3D viewer is out of the center, in the 2D viewer it's in the center

[2022-08-05 07:51] zsinnema commented on #190
@vidhya-metacell can you please do tasks 1 and 9

[2022-08-05 07:54] neuroBazzi commented on #185
@zsinnema agreed, it seems another manifestation of the same issue. also the three neurons that are at the edge of the grey matter in 2D are outside of it in the 3D.
another question for @afonsobspinto, the ring of neurons seems a pretty unusual setting. Could it be that the coordinates of the edges of the Central Canal became neurons? the central canal should be more or less these and in that pos

[2022-08-05 07:55] zsinnema commented on #190
@neuroBazzi ad. 10 the values will be "off", "frame", "grid" where "grid" is the new feature. And not the equivalent of "on". I propose a radio group here with initial 2 values (task 9.) and then when task 10 is finished with 3 values.
Even in 9. I would suggest to show "off" and "frame" where "frame" is the default. Then for 10 we only need to add the "grid" and make this one default

[2022-08-05 07:57] neuroBazzi commented on #190
@zsinnema yes you're right, my bad.
Ok the radio button solution with 'off' and 'frame' to start (and then adding 'grid') sounds good to me

[2022-08-05 08:02] zsinnema commented on #185
@neuroBazzi cc: @afonsobspinto imo the issue here is the scaling and centering....

would be nice if we have a picture of the correct positioned neurons or a description how we can see them in e.g. Napari

[2022-08-05 08:04] neuroBazzi commented on #185
@zsinnema ok I will ask Stephen Lenzi (I will also ask Matteo to add him to this repo so we can tag him in the future)

[2022-08-15 08:10] zsinnema commented on #185
Hi @neuroBazzi any news on this?

[2022-08-15 10:30] neuroBazzi commented on #185
@zsinnema not yet, Stephen is off. Anything we can do without his help?

[2022-08-17 07:44] zsinnema commented on #190
@afonsobspinto yesterday I've done some testing and I think we need to change some things in the 2D viewer and image generators:

2D viewer:

- I suggest to use "plain" html `img` objects instead of drawing on the canvas, then the images can have css `display: block` or `display: none`. With `position` you can position the images on "top" of eachother
- instead of the css `object: contain` you cou

[2022-08-23 14:50] afonsobspinto commented on #185
I'm thinking that the issue in the 3D viewer is somehow related with the meshes. That's my take after rolling out problems in the InstancedMesh logic by doing the cells positioning in a visualizer independent of the application. Here we just simply draw spheres in the coordinates we read from the transformed_cells and they are still displaced:
![image](https://user-images.githubusercontent.com/191

[2022-08-23 14:57] afonsobspinto commented on #188
@neuroBazzi I'm not able to replicate the issue with either of the V1_Calbindin_CordX_Data I have. Could you provide me the files you used to create the pink population?

![image](https://user-images.githubusercontent.com/19196034/186191241-639ab4ac-cc52-4131-b1f8-c7f00d2760d4.png)

[2022-08-23 15:55] afonsobspinto commented on #188
PB:

me:

[2022-08-23 15:55] #188 closed

[2022-08-31 10:00] afonsobspinto commented on #186
Reopening it as a new feature request instead of bug

[2022-08-31 10:28] afonsobspinto commented on #186
Cordmap output should have a new file:  cells_with_labels.csv
That file will be equivalent to transformed_cells but with an additional column saying to which population the cell belongs to.

Population label comes from the raw data. Which raises the question:
![image](https://user-images.githubusercontent.com/19196034/187657916-2a21c4b2-9e98-444a-a31f-655b23a6289e.png)
cc @neuroBazzi

[2022-08-31 10:56] neuroBazzi commented on #186
@afonsobspinto the name field in the modal is about the name of the experiment, not the name of the population. the two could be the same, but it would be confusing and it is up to the user to not call the experiment the same way as the populations it contains. the experiment name can come, for example, from the subject (i.e. the mouse) name (which is not a name like 'Micky' but more like a code/i

[2022-08-31 11:03] afonsobspinto commented on #186
You are correct, I got confused for a second. There's no problem regarding the names. Thanks for the clarification

[2022-08-31 13:01] afonsobspinto opened #195 "Update salk atlas to have laminas 1 to 4 merged"

[2022-09-01 12:07] zsinnema opened #198 "make the stacking order of the 2D viewer images explicit"
currently the order of stacking on the 2D canvas depends on the insert order in the `imagesToLoad` array
this is very implicit and could cause uncertainties about how the stacking of the images is

instead of having it implicit we should add somekind of "type" to the array objects (type could be "annotation", "grid" etc)
and then sort the array by type according to a ("type", order) list
something

[2022-09-01 12:11] afonsobspinto opened #199 "Make segment inclusion rules consistent between viewers"
Steps:
- Load and activate population V2b_PKD2L1_Cord1
- Display C1-Rostral on the 2D viewer and C1 on the 3DViewer

Expected:
- Either see no cells on both viewers or cells in both viewers

Actual Result:
![image](https://user-images.githubusercontent.com/19196034/187910200-6b12dc13-86f8-430d-8c2b-a964460ca899.png)

[2022-09-01 12:12] afonsobspinto commented on #199
Looks like the cells are right in the border of segments:
![image](https://user-images.githubusercontent.com/19196034/187910768-224d72ee-bff8-4c68-8556-8a69214ddc18.png)

My guess is that we are considering/including the border plane in one of the viewers and not in the other

[2022-09-01 13:11] zsinnema opened #201 "2D and 3D viewer canvas is to "narrow" make it more wide"

[2022-09-01 13:49] afonsobspinto opened #202 "Add Central Canal to all slices"

[2022-09-13 10:30] afonsobspinto opened #204 "Add laminas to all (other) slices"

[2022-09-13 13:42] afonsobspinto opened #206 "Apply image shifting to both population centroids and probability map"
Due to the difference between the image geometric center and the grid/canal center we need to shift all images (besides the grid) the same offset. We are doing that for static assets but not for the dynamic ones.

![image](https://user-images.githubusercontent.com/19196034/189916896-1b48c5ed-3c16-473f-8d1f-e6180479dca5.png)

[2022-09-13 16:38] afonsobspinto opened #208 "Make neuronal locations circular"
Due to #207 side effect neuronal locations are now squares instead of circles. Make them circular again

[2022-09-13 16:41] afonsobspinto commented on #208
Most likely caused by:
[code]

[2022-10-06 08:11] neuroBazzi opened #212 "neurons not showing in 2d viewer"
https://user-images.githubusercontent.com/57769656/194257722-21ae2d13-12c2-40bd-8609-c9a46d068e0b.mov

Used the sample data you shared with me yesterday and created en experiment with multiple populations. The neurons appear in 3D viewer, but not in the 2D. Also the 2D viewer does not change the slide when I scroll with the mouse (or if I select a different segment from the list) --see video--

[2022-10-06 14:28] afonsobspinto commented on #212
The server seems to be crashing when we request the 3 centroids images (one per each population) together.
I was able to replicate it on dev but not locally:

https://user-images.githubusercontent.com/19196034/194339451-adc37c98-bcd7-4b76-94d0-ac9947b23a5f.mp4

For C8-Caudal f.e. the total size of the files requested in the example is only 3kb.
The files are requested sequentially

[2022-10-07 06:59] neuroBazzi opened #213 "Link neuronal population (V2A) to ephys and behavior --POC--"
New request by the user for the NIH meeting

the concept is to link one neuronal population to other data types, electrophysiology and behavior. The concept is that the user right clicks on any one neuron of one population (V2A) and a drop down menu appears with two options 1) see electrophysiological data; 2) see behavioural data. The user click on either one of them, and the tab on the right (wh

[2022-10-07 07:02] neuroBazzi opened #214 "Update laminas after Jeremy last changes"
Jeremy is revising the laminas labels and @stephenlenzi is helping him. once done, we will need to regenerate the images of the laminas and update them in the app

[2022-10-07 15:17] neuroBazzi commented on #213
[Electrophysiological properties of V2a interneurons in the lumbar spinal cord.pdf](https://github.com/MetaCell/salk-interactive-atlas/files/9735113/Electrophysiological.properties.of.V2a.interneurons.in.the.lumbar.spinal.cord.pdf)
Eohys table

[2022-10-07 15:25] afonsobspinto commented on #213
@neuroBazzi
The right click happens in the 3D viewer?
If multiple neurons are in the same x,y (but different depth) should we 'select' the closest?
Is the PDF always 1 page?

@afonsobspinto check this later:
https://projects.wojtekmaj.pl/react-pdf/

[2022-10-07 15:33] neuroBazzi commented on #213
@afonsobspinto
- Ideally both in 2D/3D but we can discuss it if in the 3D in creates too many problems.
- yes, also, if there are multiple populations visible, it will only work for one. Only the V2A population will have the PDF linked
- for this proof of concept the PDF will be the one attached. With the new SOW we will style an actual page and re-organize the content, add figures, etc.. etc..

[2022-10-07 15:40] afonsobspinto commented on #213
I think having in the 2D will be much harder. Because the 2D viewer is just an image. There's no easy way to interact with it.
For the 3D viewer the process is way simpler.

Is the PDF linked with the specific neuron clicked or just the population. In other words, if I have neuron A and neuron B of V2A population, will we show the same pdf?

[2022-10-07 16:31] neuroBazzi commented on #213
oh ok, sure, I was assuming the opposite so let's do it for the 3D only. I just spoke to them again, they're asking for a third tab (I don't think it makes much difference at this point). Same rules as the other two (click on the item in the dropdown and it opens a tab). The tab is called I/O Mapping and it'll contain another PDF (to come).

In all these cases, the PDF will be link to all the neur

[2022-10-07 16:59] afonsobspinto commented on #213
What tell us if a population belongs to V2 or V1?
Are the PDF's static? In other words, if I have 2 populations under the V1 umbrella, lets say A and B, in normal circumstances, does the content of the pdf for population A differs from the content of the pdf for population B?

[2022-10-09 16:11] neuroBazzi commented on #213
The population name is V1 or V2, we load them from a file that is named V1 or 2 (or V3 and so on), the name comes from that.
PDFs are static, there is no V1 umbrella, there will be a population called V1 linked to one PDF (inside the PDF nothing changes)

[2022-10-10 10:27] zsinnema opened #215 "3D viewer perfomance seems to be slowed down since the latest releases"

[2022-10-10 10:30] zsinnema commented on #215
the FPS drops and it even drops more when showing the populations

[2022-10-10 10:47] zsinnema commented on #215
@tarelli I've closed all my chrome windows and restarted chrome now the performances seems to be excellent.
can you try it? If you still have issues can you then try to see if you are using the GPU and GPU raster?
press `F12` (developers tools) then if the "Console" is not showing press `Esc`. Click on the 3 vertical dots menu in the Console and select `Rendering` enable `Frame Rendering Stats`. N

[2022-10-10 11:54] afonsobspinto commented on #215
I have around:
- 60 fps when no populations are on
- 50 fps when populations are on and I'm relatively zoom out
- 40 fps when populations are on and I'm in the middle of a large amount of cells.

GPU raster: on
Nvidia Graphics: GTX 1050

[2022-10-10 11:55] afonsobspinto commented on #215
Currently we do 2 things to improve performance:
- Manually reduce meshes complexity
- Use of [InstancedMesh](https://threejs.org/docs/#api/en/objects/InstancedMesh) to draw the cells

[2022-10-10 12:18] afonsobspinto commented on #213
Is the name **exactly** V1 or V2 or does the name **includes** V1? For example 'V1 Sp8' would link to V1 PDF? (Attaching an example of populations for context)
![image](https://user-images.githubusercontent.com/19196034/194862389-1b9b095d-32e1-4b54-8a1b-c33bd532de79.png)

[2022-10-10 14:31] neuroBazzi commented on #213
Includes V1

[2022-10-10 15:25] afonsobspinto commented on #213
In that case, using the same example as above, I'm confused by your comment 'there is no V1 umbrella'.
Shouldn't the V1 (red) population and V1 Sp8 (green) population link to the same V1 pdf file?

[2022-10-10 15:36] neuroBazzi commented on #213
Good catch, yes

On Mon, Oct 10, 2022, 17:25 Afonso Pinto ***@***.***> wrote:

[2022-10-10 17:55] afonsobspinto commented on #213
Can we click directly on the details tab? If so, how do we decide which population data are we showing?
I assume the last selected would be the best option but what if there was no population selected yet?

[2022-10-11 09:21] tarelli commented on #213
Showing a PDF will be less light/trivial than showing an image, probably
not necessary?

On Fri, 7 Oct 2022 at 18:59, Afonso Pinto ***@***.***> wrote:

--
Matteo Cantarelli

Chief Technology Officer
MetaCell, LLC
Web: metacell.us
Mobile: +44 (0)74 47540306
E-mail: ***@***.***

[2022-10-11 09:44] neuroBazzi commented on #214
@stephenlenzi Jeremy updated the data, could you please coordinate with @afonsobspinto to update the images in the web application. Thank you!

[2022-10-11 10:16] afonsobspinto commented on #213
Hmm, I'm not sure I'm convinced by the 'no population selected'

Right now I started the POC with an image. Imo, it is slightly easier that way but I wouldn't say showing a PDF is a blocker.

[2022-10-16 15:56] neuroBazzi commented on #213
[Presynaptic Input Table for Metacell .pdf](https://github.com/MetaCell/salk-interactive-atlas/files/9795095/Presynaptic.Input.Table.for.Metacell.pdf)
this is the table for the I/O mapping, this PDF would link to any neuron of any population

[2022-10-16 18:22] zsinnema commented on #213
@afonsobspinto can upi have a look at this? thanks!

[2022-10-17 12:34] afonsobspinto commented on #214
Fixed with https://github.com/MetaCell/salk-interactive-atlas/commit/e0135a39217251a12bf17f48189141f4e3c6f89f

[2022-10-18 12:25] afonsobspinto opened #220 "Update cordmap"

[2022-10-19 06:37] neuroBazzi commented on #213
[V2a IN Behavior.pdf](https://github.com/MetaCell/salk-interactive-atlas/files/9817468/V2a.IN.Behavior.pdf)
Behavior PDF

@afonsobspinto

[2022-10-19 09:57] afonsobspinto commented on #215
Experiment V1_V2a shows performance issues in the 3D Viewer. Most likely due to the great amount of cells. We need to investigate

[2022-11-07 07:18] mleiwe opened #223 "Create salk.metacell.us and deploy"

[2022-11-07 07:24] mleiwe opened #224 "Add "Powered by Metacell badge and link to metacell.us"
Ask Paul for help providing a suitable badge. Make sure there is a link behind it too

[2022-11-07 07:25] mleiwe opened #225 "Application manual testing"

[2022-11-07 07:27] mleiwe opened #226 "Create demo account"

[2022-11-07 07:30] mleiwe opened #227 "Upload demo data into Paolo B's account and make available to the demo user"

[2022-11-07 07:33] mleiwe opened #228 "Create experiments with the neuronal population"

[2022-11-07 07:34] mleiwe opened #229 "Create a QR code that links to the Prod environment"

[2022-11-07 07:35] mleiwe commented on #229
Could also link to the experiment in question too

[2022-11-07 07:36] mleiwe opened #230 "Enable keycloak login-log (enable IP address)"

[2022-11-07 08:15] neuroBazzi commented on #224
@zsinnema Paul added the logo in the 'about' modal. I am not sure we have enough time to create the modal. I see two main options:
1) If we have time to create the modal: Remove the 'about mouse cord atlas' paragraph and use only the Instigator and Funder. Change Instigator to Investigator.
2) If we do not have time to build the modal, let's just put the badge 'power by MetaCell with logo' in the

[2022-11-07 08:21] neuroBazzi commented on #227
V1, V2a, V2b, and V3 populations

[2022-11-07 08:43] zsinnema commented on #224
@afonsobspinto do you have time?

[2022-11-07 08:47] zsinnema commented on #230
@mleiwe @neuroBazzi you should now see all client logins in the keycloak admin console https://accounts.salk.metacell.us/auth/admin/master/console/#/realms/salk/events

[2022-11-08 15:08] neuroBazzi commented on #229
https://www.salk.metacell.us/

[2022-11-08 15:43] zsinnema commented on #229
https://www.qr-code-generator.com/

[2022-11-08 16:06] zsinnema commented on #224
@afonsobspinto here are the svgs

![Image](https://user-images.githubusercontent.com/124044/200615662-be17f4cc-8fa2-4df0-808e-8ff8c4168101.svg)
![Image](https://user-images.githubusercontent.com/124044/200615661-328ccc67-d90a-4f9f-afc6-3f7a84a2108e.svg)

[2022-11-09 08:37] neuroBazzi commented on #229
![QR2 (1)](https://user-images.githubusercontent.com/57769656/200780746-f05e2e44-ed75-489e-8c32-fbd733cc6da0.png)
![QR4 (1)](https://user-images.githubusercontent.com/57769656/200780753-456f02f4-99e1-44e8-858e-5ff9ba1f02b1.png)
![QR3 (1)](https://user-images.githubusercontent.com/57769656/200780760-18539b33-d0c0-4dd0-9c24-e376c2b0cc32.png)
![Qr1 (1)](https://user-images.githubusercontent.com/57769

[2022-11-09 09:28] mleiwe opened #232 ""Rotate Z" and "Rotate MZ" don't function"
In the 3D view these two buttons don't seem to make any visual difference to the 3D view.

![Screen Shot 2022-11-09 at 5 14 13 PM](https://user-images.githubusercontent.com/29621219/200791305-42ffa961-b7f2-4fb9-9191-cdfe1a8e002b.png)

[2022-11-09 09:45] zsinnema commented on #224
@mleiwe @neuroBazzi deployed on staging. can you please test/check the whole application and let me know if this version can go to production.

[2022-11-09 10:14] mleiwe commented on #224
@zsinnema for salk.metacell.us all the links on the bottom-left (Community, Help Center, and Learn More) don't seem to go anywhere or produce a pop up

[2022-11-09 10:17] neuroBazzi commented on #224
@mleiwe we have not developed those yet, it is expected

[2022-11-09 10:17] zsinnema commented on #224
@mleiwe did you test it on the staging server (https://salk.stage.metacell.us)?

[2022-11-09 10:18] mleiwe commented on #224
Will try now, didn't know the address

[2022-11-09 10:18] zsinnema commented on #224
@mleiwe @neuroBazzi please try to cover the whole application during the testing

[2022-11-09 10:51] mleiwe commented on #224
Ok, the staging one works fine.

[2022-11-09 11:19] zsinnema commented on #224
@neuroBazzi @mleiwe deployed on prod

[2022-11-09 11:19] #224 closed

[2022-11-09 11:19] #230 closed

[2022-11-09 11:19] #223 closed

[2022-11-09 11:36] #229 closed

[2022-11-09 11:43] zsinnema commented on #232
see: https://github.com/MetaCell/geppetto-meta/issues/327

[2022-11-09 11:43] #232 closed

[2022-11-09 17:16] neuroBazzi opened #233 "Add 'coming soon' to tabs"
It just occurred to me that we might want to indicate that some parts of the application are not yet available, the following way is the simplest I could think of. Would it be possible to turn this aroun?

Add '(coming soon)' next to the tabs:
- Shared with me --> Shared with me (coming soon)
- Teams --> Teams (coming soon)
- Community  --> Community (coming soon)
- Help Center  --> Help Center (c

[2022-11-10 07:43] neuroBazzi opened #236 "Add version number"
Would it be possible adding Version 1.0.0 above the powered by metacell?

<img width="473" alt="Screenshot 2022-11-10 at 08 43 03" src="https://user-images.githubusercontent.com/57769656/201029665-a3ee4b44-d867-4fe6-8337-a5e89474b3e6.png">